.error {
  color: red;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.person-box {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
}

