

body {
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  height: 100%;
}


.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.person-box {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  align-items: center;
}


.person-image {
  border-radius: 85px;
}

.person-name{
  font-family: 'Kavivanar', cursive;
  color: rgb(236, 106, 106);
  /* text-shadow: 3px 3px 9px rgb(68, 60, 60); */
}

.header {
  font-family: 'Kavivanar', cursive;
  align-content: center;
}

.title {
  text-align: center;
   color: rgba(253, 185, 176, 0.925);
   font-size: 24px;
}

.sub-header {
  text-align: center;
  color: rgba(253, 185, 176, 0.925);
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}