body {
  display: flex;
  flex-direction: column;
  background-image: url('dark-background.jpg')
}
.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;

}


.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.person-box {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  align-items: center;
}


.person-image {
  border-radius: 85px;
}

.person-name{
  font-family: 'Kavivanar', cursive;
  color: rgb(250, 240, 240);
  text-shadow: 3px 3px 9px rgb(34, 32, 32);
}

.header {
  font-family: 'Kavivanar', cursive;
  align-content: center;
  color: rgba(255, 254, 254, 0.925);
}

.title {
  text-align: center;
   color: rgba(247, 182, 173, 0.925);
   font-size: 24px;
   text-shadow: 1px 1px 3px rgb(85, 84, 84);
}

.sub-header {
  text-align: center;
  color: rgba(247, 182, 173, 0.925);
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.quote-container {
  color: rgba(0, 0, 0, 0.925);
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
}